.changeColor {
    color: red;
}

.plus {
    font-size: large;
}

.minus {
    font-size: small;
}

#tooltip {
    display: none;
    background-color: pink;
    position: absolute;
    width: 150px;
    height: 50px;
}

#test {
    background-color: burlywood;
    height: 50px;
    width: 300px;
}

#pogrubiony {
    background-color: blueviolet;
    height: 50px;
    width: 150px;
}

#przycisk {
    background-color: brown;
}

#toTopButton {
    background-color: pink;
    width: 100px;
    height: 60px;
    padding: 5px;
    position: fixed;
    bottom: 15px;
    right: 15px;
    display: none;
    cursor: pointer;
}

#toTopButton:hover {
    color: palevioletred;
}

#wykrzyknik {
    position: absolute;
}

.button {
    background-color: green;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    position: absolute;
}

.button2 {
    background-color: red;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    position: absolute;
}

#slideShow {
    width: 384px;
    height: 307px;
    position: relative;
}

#slideShow img {
    position: absolute;
    opacity: 0;
    transition: 1s;
    width: 384px;
}

#slideShow .current {
    opacity: 1;
    transition: 2s;
    width: 768px;
}

.thumbnail {
    width: 60px;
}

.thumbnail:hover {
    border-bottom: 2px solid red;
    margin-bottom: -2px;
}

#mainImage {
    width: 350px;
    height: 263px;
    margin-bottom: 10px;
}

.current {
    border-bottom: 2px solid red;
    margin-bottom: -2px;
}


/* .transform {  
    opacity: 0;
    transition: 0s;
}

.withoutransform {
    opacity: 1;
    transition: 3s;
} */

#cf7_controls {
    text-align: center;
}

#cf7_controls span {
    padding-right: 2em;
    cursor: pointer;
}

#cf7 {
    position: relative;
    height: 281px;
    width: 450px;
    margin: 0 auto 10px;
}

#cf7 img {
    position: absolute;
    left: 0;
    -webkit-transition: opacity 1s ease-in-out;
    -moz-transition: opacity 1s ease-in-out;
    -o-transition: opacity 1s ease-in-out;
    transition: opacity 1s ease-in-out;
    opacity: 0;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
    filter: alpha(opacity=0);
}

#cf7 img.opaque {
    opacity: 1;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
    filter: alpha(opacity=1);
}

#tooltipContainer {
    border-bottom: 3px solid #eee;
    background-color: #f7f5d0;
    position: absolute;
    /*ważne position absolute, left i top = 0*/
    left: 0;
    top: 0;
    font-size: 10px;
    padding: 5px;
    display: none;
}